@import '../node_modules/foundation-sites/scss/foundation';
@import 'settings';

@include foundation-everything();

.launch-page {
  padding-top: 40px;

  h3 {
    color: inherit;
  }
  
  .caption {
    color: $secondary-color;
    font-size: 16px;
  }

  .social {
    background: $secondary-color;
    padding: 10px 0;
    width: 50px;
    display: inline-block;
    border-radius: $global-radius;
    img {
      height: 25px;
    }
  }

button.button.large {
  border: 1px solid $primary-color;
}
button.button.large:active {
  background: $primary-color;
  color: white;
}

  .form-signup {
    margin: 10px 15px 5px 15px;
  }

  .social:hover {
    background: $primary-color;
  }
}
